node_modules
.next
out
.env
.env.local
npm-debug.log*
.DS_Store
coverage
server-test*.log
docker-data/mongodb/*
!docker-data/mongodb/.gitkeep
secrets/
*-firebase-adminsdk*.json
firebase-service-account.json
.env.vercel.example